html
head
	title Project Meercat
	link(rel="stylesheet" href="src/css/stylesheet.css")
	link(rel="stylesheet" href="src/js/lib/bootstrap/dist/css/bootstrap.css")
	link(rel="stylesheet" href="src/js/lib/bootstrap/dist/css/bootstrap-theme.css")
	script(type="text/javascript" src="src/js/lib/jquery/dist/jquery.min.js")
	script(type="text/javascript" src="src/js/lib/bootstrap/dist/js/bootstrap.min.js")


body
	.container
		.col-md-12
			h1 Welcome to Project Meercat
			h2 This is the index page
